#header{
    text-align:left;
    overflow:auto;
}
#panelid{
    float:right;
    padding:5px;
}
#panelid p{
    font-size:10pt;    
    margin:5px 5px 10px;                 
}
#logout{
    float:right;
    font-size:7pt;
}
#operasi a{
    color:#fff;
}
#operasi ul{
    list-style:none;
    margin:0;
    padding:0;
}
#operasi ul li{
    margin:0;
    padding:0;
}
#operasi ul li a{
    display:block;
    background:#38730b;
    padding:10px 30px;
    font-weight:bold;
    border-bottom:1px solid #2c5909;
}
#operasi ul li a:hover{
    background:#7cbf49;
}
#path{
    background:#f8f8f8;
    font-weight:bold;
}
#path a{
    margin:0;
    padding:0;
    color:#417f11;
    text-decoration:underline;
}
